
        <!--CONTROL Section-->
        {{#each  data}}
        <section class="control typical-section">
            <div class="typical-left">
                <img src="images/{{Content}}" alt="3D model" class="control-left-img">
            </div>
            <div class="typical-right">
                <h2 class="section-title">{{Heading}}</h2>
                <p class="section-text"> {{Paragraph}}</p>
            </div>
        </section>
        {{/each}}