 <!--HERO Section-->
        <section class="hero">
            <header>
                <div class="logo">
                    <img src="images/logo.svg" alt="logo" class="logo-img">
                </div>
                <div class="burger-menu">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                </div>
                <nav class="top-nav">
                    <a href="#" class="top-nav-link">Home</a>
                    <a href="#" class="top-nav-link">Features</a>
                    <a href="#" class="top-nav-link">Contacts</a>
                </nav>
            </header>
            <div class="hero-content">
                <div class="hero-content-left">
                    <img src="./images/render-placeholder2.png" alt="3D model" class="hero-content-left-img">
                </div>
                <div class="hero-content-right">
                    <h1 class="hero-title"> ThermoSecurity System</h1>
                    <h3 class="hero-subtitle">by HouseCom</h3>
                    <p class="hero-text">What temperature? You choose!</p>
                    <a href="#" class="hero-btn">
                        <div class="hero-btn-text">Learn More</div>
                    </a>
                </div>
            </div>
        </section>
        <!--CONTROL Section-->
        {{#each this}}
        <section class="control typical-section">
            <div class="typical-left">
                <img src="images/{{Content}}" alt="3D model" class="control-left-img">
            </div>
            <div class="typical-right">
                <h2 class="section-title">{{Heading}}</h2>
                <p class="section-text"> {{Paragraph}}</p>
            </div>
        </section>
        {{/each}}

